<div class="row">
<% @cities_information.each do |city| %>
  <div class="col-xl-4 col-md-12 col-sm-12">
    <div class="card" >
      <div class="row">
        <img class= "card-img-center" id="<%=city[0]%>-img"src="https://darksky.net/images/weather-icons/<%=city[1]["icon"]%>.png" alt="City Weather Icon" width="84" height="84">
        <div class="card-body">
          <h1 class="card-title"><%= city[0] %></h5>
          <b><h2><p class="card-text" id="<%=city[0]%>-temperature"><%= city[1]["temperature"] %>˚</p></b></h1> 
          <p class="card-text" id="<%=city[0]%>-sumary"> <%= city[1]["summary"] %></p>
        </div>
        <div class="card-body text-right">
          <h4 class="card-title">humidity:</h5>
          <p class="card-text" id="<%=city[0]%>-humidity"><%= city[1]["humidity"] %>%</p>
          <h4 class="card-title">Wind:</h5>
          <p class="card-text" id="<%=city[0]%>-windspeed"><%= city[1]["windSpeed"] %> mph</p>
          <h4 class="card-title">UV:</h5>
          <p class="card-text" id="<%=city[0]%>-uvindex"><%= city[1]["uvIndex"] %> %</p>
          <h4 class="card-title">Visibility:</h5>
          <p class="card-text" id="<%=city[0]%>-visibility"><%= city[1]["visibility"] %> mi</p>
          <h4 class="card-title">Pressure:</h5>
          <p class="card-text" id="<%=city[0]%>-pressure"><%= city[1]["pressure"] %> mb</p>
        </div>
    </div>
  </div>
    <div class="card-footer">
      <small class="text-muted" id="<%=city[0]%>-time">Last updated <%= Time.at(city[1]["time"]) %></small>
    </div>
    </br>
  </div>
<% end %>
</div>

<p id="messages"></p>
